:root {
  --spinner-size: 50px;
  --light: rgb(255, 111, 100, 0.5);
  --front: rgb(235, 74, 62);
}

.spinner {
  width: var(--spinner-size);
  height: var(--spinner-size);
  align-self: center;
  margin-top: -(var(--spinner-size) / 2);
  margin-left: -(var(--spinner-size) / 2);
  border-radius: 50%;
  border: 5px solid var(--light);
  border-right-color: var(--front);
  animation: rotateSpinner 800ms linear infinite;
}

@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}
