* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../public/background.png") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 12px;
    background: url("../public/background.png") no-repeat center center fixed;
    background-size: cover;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #961345 !important;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.001);
    background-clip: padding-box;
  }
}

main {
  background: rgb(255, 255, 255, 0.5);
  width: 800px;
  max-width: 100%;
  padding: 30px 40px;
  transform: translateX(calc(50vw - 50%));
}

h1 {
  text-align: center;
  font-family: "Abril Fatface", sans-serif;
  font-size: 40pt;
  color: #bb1d4c;
}

h2 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 20pt;
  margin: 0px 0px 10px 0px;
  color: #961345;
}

.countdown {
  position: absolute;
  top: 50px;
  right: -75px;
  width: 170px;
  transform: rotate(10deg);
  aspect-ratio: 1;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-weight: bold;
  color: rgb(206, 6, 66);
}

svg.countdown {
  position: absolute;
  fill: rgb(255, 255, 255, 80%);
  z-index: 0;
  padding: 0;
}

.countdown .big {
  font-family: "Abril Fatface", sans-serif;
  font-size: 20pt;
  color: #96137a;
}

.submitbox {
  border-radius: 10px;
  padding: 20px 30px;
  background-color: rgb(255, 255, 255, 0.5);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.row.center,
.wrap.center {
  justify-content: center;
}

input {
  border-radius: 10px;
  border: none;
  padding: 8px 16px;
  background: rgb(255, 255, 255, 0.7);
}
input:focus {
  outline: none;
  background: rgb(255, 255, 255);
}
input.search {
  margin: 10px 0px;
  width: 100%;
}

a {
  color: #541dbb;
}

.submitbox input {
  width: 50%;
}

button {
  border: none;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}

.submitbox button {
  background-color: #822e70;
  color: white;
  padding: 6px 12px;
  &:hover {
    background: #a85997;
  }
}

.submitbox .error {
  color: #bb1d4c;
  height: 10px;
  font-size: 11px;
  padding: 2px 10px;
}

.submitbox span.success {
  color: #541dbb;
  font-size: 12px;
  margin-left: 10px;
}

.smaller {
  font-size: 14px;
}

.small {
  font-size: 12px;
}

.user {
  height: 40px;
  border-bottom: 1px dashed white;
  padding: 0px 10px;
}

.streak {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.container {
  margin: 20px 0px;
  border-top: 1px dashed white;
  width: 100%;
}

.background {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 800px;
  height: 100vh;
  background-color: rgba(54, 15, 70, 0.381);
  z-index: 20;
}

.about {
  background-color: transparent;
  color: #541dbb;
  margin-bottom: -20px;
  float: right;
}

dialog {
  position: fixed;
  transform: translateY(50%);
  z-index: 30;
  background-color: white;
  color: #822e70;
  border: none;
  border-radius: 10px;
  padding: 30px;
  width: 700px;
  max-width: 80vw;
  font-weight: normal;
}

dialog button {
  background-color: transparent;
  margin-top: -30px;
  color: #541dbb;
  float: right;
  font-size: 15px;
}

dialog .row {
  justify-content: space-between;
}

table {
  border-collapse: collapse;
}
td {
  min-height: 40px;
  padding: 8px 10px;
}

.label {
  font-size: 11px;
  padding: 4px 6px;
  width: 90px;
  border-radius: 50px;
  color: white;
  text-align: center;
}
.label.v1 {
  background-color: rgb(255, 111, 100, 0.5);
}
.label.v2 {
  background-color: rgb(175, 74, 142, 0.5);
}
.label.v3 {
  background-color: rgb(255, 157, 93, 0.5);
}
.label.v4 {
  background-color: rgb(167, 120, 184, 0.5);
}
.label.v5 {
  background-color: rgb(251, 122, 94, 0.5);
}
.label.frozen {
  background-color: rgba(104, 196, 233, 0.5);
}

.mb {
  margin-bottom: 10px;
}
.mt {
  margin-top: 10px;
}

td.full {
  padding: 30px;
  display: flex;
  justify-content: center;
}

body.winter {
  background: url("../public/winter_background.png") no-repeat center center
    fixed;
  background-size: cover;
  &::-webkit-scrollbar {
    background: url("../public/winter_background.png") no-repeat center center
      fixed;
    background-size: cover;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #353c7c !important;
  }
}

.winter {
  main {
    background: rgba(255, 255, 255, 0.5);
  }

  h1 {
    color: #353c7c;
  }

  h2 {
    color: #227488;
  }

  .countdown .big {
    color: #881117;
  }

  .submitbox button {
    background-color: #2e4282;
    &:hover {
      background: #5965a8;
    }
  }

  .submitbox .error {
    color: rgb(206, 6, 66);
  }

  .submitbox span.success {
    color: #136e85;
  }

  .background {
    background-color: rgba(15, 19, 70, 0.381);
  }

  .about {
    color: #541dbb;
  }

  dialog {
    background-color: white;
    color: #251669;
  }
  dialog button {
    color: #541dbb;
  }

  .label.v1 {
    background-color: rgba(144, 232, 235, 0.5);
  }
  .label.v2 {
    background-color: rgba(93, 82, 187, 0.5);
  }
  .label.v3 {
    background-color: rgba(178, 124, 214, 0.5);
  }
  .label.v4 {
    background-color: rgba(120, 135, 184, 0.5);
  }
  .label.v5 {
    background-color: rgba(78, 161, 209, 0.5);
  }
  .label.frozen {
    background-color: rgba(165, 208, 209, 0.5);
  }
}

@media (max-width: 1010px) {
  .countdown {
    right: calc(-75px - (100vw - 1010px) / 2.8);
  }
}

@media (max-width: 800px) {
  .countdown {
    right: 0px;
  }
}
